/*.zip
/.idea/
/.tmp-package/
/build/
/docs/apigen/html
/docs/jsdoc/html
/docs/plato/html
/docker/mysql/*
!/docker/mysql/.gitkeep
/node_modules/
/npm-debug.log
/assets/js/**/*.min.js
/assets/css/**/*.min.css
/config.php
/storage/backups/*
!/storage/backups/.htaccess
!/storage/backups/index.html
/storage/cache/*
!/storage/cache/.htaccess
!/storage/cache/index.html
/storage/logs/*
!/storage/logs/.htaccess
!/storage/logs/index.html
/storage/sessions/*
!/storage/sessions/.htaccess
!/storage/sessions/index.html
/storage/uploads/*
!/storage/uploads/index.html
/vendor/
/metafile
.DS_Store
