/*.zip
/.idea/
/.tmp-package/
/doc/apigen/
/doc/jsdoc/
/doc/plato/
/node_modules/
/npm-debug.log
/src/config.php
/src/storage/cache/*
!/src/storage/cache/.htaccess
!/src/storage/cache/index.html
/src/storage/logs/*
!/src/storage/logs/.htaccess
!/src/storage/logs/index.html
/src/storage/sessions/*
!/src/storage/sessions/.htaccess
!/src/storage/sessions/index.html
/src/storage/uploads/*
/!src/storage/uploads/index.html
/vendor/
