/* Small Devices, Tablets */
@media only screen and (min-width : $breakpoint-sm) {
    .upcoming {
        .title {
            h3 {
                text-align: left;
                margin-top: 5%;
            }
        }
    }

    .footer {
        .message {
            small {
                text-align: right;
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $breakpoint-md) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $breakpoint-lg) {

}
