

/* VARIABLES
 ----------------------------------------------------------------------------- */

$primary-color-light: #3DD481;
$primary-color-dark: #1A865F;
$secondary-color-light: #CAEDF3;
$secondary-color-dark: #062126;
$text-color: #696969;
$link-color: #0F4852;
$upcoming-background-color: #0F4852;
$upcoming-text-color: #FFF;
$footer-background-color: #F5F5F5;

$font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;


/* GENERAL
 ----------------------------------------------------------------------------- */

body {
    font-family: $font-family;
    color: $text-color;
}

a {
    color: $link-color;
    transition: color 0.2s linear;

    &:hover {
        text-decoration: none;
        color: color($link-color lightness(50%));
    }
}

.ea-button {
    display: inline-block;
    min-width: 200px;
    padding: 12px 20px;
    margin: 0 0 15px 0;
    color: #FFF;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.2s linear;

    &:hover,
    &:focus,
    &:active {
        color: #FFF;
        text-decoration: none;
    }

    &.primary {
        background: $primary-color-dark;

        &:hover {
            background: color($primary-color-dark lightness(40%));
        }
    }

    &.secondary {
        background: $secondary-color-dark;

        &:hover {
            background: color($secondary-color-dark lightness(25%));
        }
    }

    .glyphicon {
        font-size: 14px;
    }
}

.section {
    margin-bottom: 25px;

    .section-title {
        font-weight: bold;
        color: $primary-color-light;
        margin: 25px 0;
    }
}


/* HEADER
 ----------------------------------------------------------------------------- */

.header {
    background: $primary-color-light;
    border-bottom: 4px solid color($primary-color-light lightness(85%));
    padding: 10px;
    text-align: center;
}

.logo {
    text-align: center;

    .title {
        font-size: 2em;
        font-weight: 300;
        color: #FFF;
    }

    .subtitle {
        color: $primary-color-dark;
        font-size: 1em;
    }
}

.menu-toggle {
    color: $primary-color-dark;
    margin: 25px 0;
    font-size: 24px;
    cursor: pointer;
}

.nav {
    font-size: 1.2em;
    a {
        color: white;

        &:focus,
        &:hover {
            background: none !important;
            color: $primary-color-dark;
        }
    }
}


/* JUMBOTRON
 ----------------------------------------------------------------------------- */

.jumbotron {
    background: $primary-color-light;
    text-align: center;
    margin-bottom: 0;

    h1 {
        color: #FFF;
        font-weight: bold;
    }

    p {
        color: $primary-color-dark;
    }
}


/* UPCOMING
 ----------------------------------------------------------------------------- */

.upcoming {
    background: $upcoming-background-color;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;

    .image img {
        max-width: 92px;
        max-height: 92px;
        display: block;
        margin: auto;
    }

    .title {
        h3, small {
            font-weight: 300;
            text-align: center;
            color: #FFF;
        }

        h3 a small {
            color: color($link-color lightness(50%)) !important;
            transition: color 0.2s linear;

            &:hover {
                color: color($link-color lightness(75%)) !important;
            }
        }
    }
}


/* APPOINTMENT SCHEDULER
 ----------------------------------------------------------------------------- */

#appointment-scheduler {
    .screenshots {
        margin-top: 25px;
    }
}

/* FEATURES
 ----------------------------------------------------------------------------- */

#features {
    .row {
        .col-sm-6 {
            margin-bottom: 35px;

            img {
                margin: 10px;
                width: 75px;
            }
        }
    }
}


/* FOOTER
 ----------------------------------------------------------------------------- */

.footer {
    background: $footer-background-color;
    margin-top: 15px;
    padding: 10px 0;
    overflow: auto;

    .credits {
        img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
}

/* MEDIA QUERIES
 ----------------------------------------------------------------------------- */

/* Small Devices, Tablets */
@media only screen and (min-width : $breakpoint-sm) {
    .logo {
        display: inline-block;
        text-align: left;
        float: left;
        margin: 0 0 3px 0;

        .title {
            font-size: 1.8em;
            margin-bottom: 5px;
        }

        .subtitle {
            font-size: 0.8em;
        }
    }

    .nav {
        display: inline-block;
        float: right;
        margin-top: 8px;
        font-size: 1.1em;

        li {
            display: inline-block;
            float: left;
            margin-right: 10px;
        }
    }

    .jumbotron {
        padding-top: 28px;
        padding-bottom: 28px;

        .container {
            width: 95%;

            .topbar {
                overflow: auto;
            }

            h1 {
                margin-top: 50px;
            }

            p {
                margin-bottom: 50px;
                font-size: 2em;
            }
        }
    }

    .upcoming {
        .image {
            img {
                float: right;
            }
        }

        .title {
            h3 {
                text-align: left;
                margin: 3px 0;
                line-height: 1.7;
            }
        }
    }

    .footer {
        .message {
            text-align: right;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $breakpoint-md) {
    .ea-button {
        min-width: 250px;
        margin-bottom: 22px;
    }

    .logo {
        .title {
            font-size: 2em;
        }
        .subtitle {
            font-size: 1em;
        }
    }

    .nav {
        font-size: 1.3em;
        margin-top: 13px;
    }

    .jumbotron {
        .container {
            h1 {
                margin-bottom: 20px;
            }

            p {
                font-size: 3em;
            }
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $breakpoint-lg) {
    .jumbotron {
        .container {
            max-width: 1128px;
        }
    }

    .section, .footer .container {
        max-width: 1024px;
    }

    .footer .container {
        padding: 0;
    }
}
