/**
 * BACKEND CSS FILE FOR EASY!APPOINTMENTS
 */

root { 
    display: block;
}

/* BACKEND GENERAL ELEMENTS
   -------------------------------------------------------------------- */
#header {
    height: 70px;
    background-color: #35B66F;
    border-bottom: 6px solid #247A4B;
}

#header #header-logo { 
    display: inline-block; 
    height: 60px; 
    margin: 10px 15px 0px 15px; 
}

#header #header-logo img { 
    float: left; 
    width: 50px; 
    height: 50px; 
    margin-right: 6px; 
}

#header #header-logo span { 
    float: left; 
    font-size: 20px; 
    color: white; 
    margin-top: 16px; 
}

#header #header-menu { 
    display: inline-block; 
    float: right; 
    height: 100%; 
}

#header #header-menu .menu-item { 
    float: left; 
    margin-right: 8px; 
    margin-top: 10px;  
    padding: 15px 12px; 
    min-width: 68px; 
    text-align: center; 
    font-weight: bold; 
    color: #FFF; 
    text-decoration: none;
    font-size: 16px; 
}

#header #header-menu .menu-item:hover { 
    background-color: #247A4B; 
}

#footer {
    background-color: #F7F7F7;
    border-top: 1px solid #DDD;
    font-size: 11px;
}
#footer #footer-content { 
    padding: 10px 15px; 
}

#notification strong { 
    margin-right: 15px; 
}

#notification .alert {
    margin-bottom: 0px;
}

#loading { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: 999999;
    background: rgba(255, 255, 255, 0.75);
}

#loading img { 
    margin: auto; 
    display: block; 
}

#modal-message { 
    margin: 10px 0px; 
}

body .modal-header {
    padding: 9px 15px;
    background: #51B173;
    border-bottom: 3px solid #3A8154;
    color: #FFF;
}

body .modal-header h3 {
    font-size: 20px;
}

/* BACKEND CALENDAR PAGE
   -------------------------------------------------------------------- */
#calendar-page #calendar-toolbar { 
    border-bottom: 1px solid #D6D6D6;
    background: #3A3A3A;
    /*background: #FAFAFA;*/
    padding: 10px;
    height: 39px;
    color: white;
}

#calendar-page #calendar-filter { 
    display: inline-block;  
    float: left; 
}

#calendar-page #calendar-filter label { 
    display: inline-block; 
    margin-right: 7px; 
    font-weight: bold; 
    font-size: 18px; 
}

#calendar-page #calendar-filter select { 
    margin-top: 5px; 
}

#calendar-page #calendar-actions { 
    display: inline-block; 
    float: right; 
    margin-top: 4px; 
}

#calendar-page #calendar { 
    margin: 6px 12px; 
}

#calendar-page #calendar .fc-unavailable { 
    background-image: url('../images/unavailable.jpg');   
    font-size: 24px; 
    border-radius: 0; 
    font-weight: bold; 
    color: #333;
    text-shadow: 0px 1px 0px #FFF;
    opacity: 0.7;
}

#calendar-page #calendar .fc-break { 
    background-image: url('../images/break.jpg'); 
}

#calendar-page #calendar .fc-custom { 
    background-image: url('../images/custom.jpg'); 
}

#calendar .fc-header-title h2 {
    font-size: 20px;
    margin: 0px;
    line-height: 32px;
}

#calendar .fc-header .fc-button {
    margin-bottom: 8px;
}

#calendar .fc-agenda-allday .fc-day-content {
    min-height: 19px;
}

#calendar .fc-agenda-divider-inner {
    height: 3px;
}

#calendar table thead .fc-first { 
    background: #DFDFDF;
}

#calendar table thead .fc-first th {
    vertical-align: middle;
    padding: 2px 0;
    color: #555;
}

#manage-appointment {
    width: 860px;
    margin-left: -430px;
}

/* BACKEND CUSTOMERS PAGE
   -------------------------------------------------------------------- */
#customers-page #filter {
    margin: 15px 0px 15px 15px; 
}

#customers-page #filter-results { 
    overflow-y: auto; 
}

#customers-page #filter-results .customer-row { 
    padding: 10px 7px; border-radius: 3px; 
}

#customers-page #filter-results .customer-row:hover { 
    background-color: #C6E7D5; 
    cursor: pointer; 
}

#customers-page #filter-results hr { 
    margin: 5px 0; 
}

#customers-page #details { 
    margin: 15px 0 15px 15px; 
}

#customers-page #details .btn-toolbar { 
    margin-top: 0px; 
}

#customers-page #details div.span5 { 
    margin-left: 0; 
}

#customers-page #customer-appointments { 
    height: 250px; 
    border: 1px solid #CCC; 
    border-radius: 3px;
    margin-bottom: 20px; 
    overflow-y: auto; 
}

#customers-page #customer-appointments .appointment-row { 
    padding: 7px; 
    border-bottom: 1px solid #CCC; 
}

#customers-page #customer-appointments .appointment-row:hover { 
    background-color: #C6E7D5; 
    cursor: pointer; 
}

#customers-page #details input,
#customers-page #details textarea { 
    background-color: white; 
    cursor: default; 
}

#customers-page .selected-row { 
    background-color: #EFFDF7; 
}


/* BACKEND SERVICES PAGE
   -------------------------------------------------------------------- */
#services-page .tab-content { 
    margin: 15px; 
}

#services-page .nav { 
    margin: 15px; 
}

#services-page .nav li { 
    cursor: pointer; 
}

#services-page .service-row { 
    padding: 10px 7px; 
    border-radius: 3px; 
}

#services-page .service-row:hover { 
    cursor: pointer; 
    background-color: #C6E7D5; 
}

#services-page .selected-row { 
    background-color: #EFFDF7; 
}

#services-page .details .ui-spinner { 
    border: none; 
    margin-bottom: 10px; 
}

#services-page #service-duration { 
    margin: 0px; 
}

#services-page .details .ui-spinner a { 
    cursor: pointer; 
}

#services-page .details input, 
#services-page .details select, 
#services-page .details textarea { 
    background-color: white; 
    cursor: pointer; 
}

#services-page #categories .category-row { 
    padding: 10px 7px; 
    border-radius: 3px; 
}

#services-page #categories .category-row:hover { 
    background-color: #C6E7D5; 
    cursor: pointer; 
}



/* BACKEND USERS PAGE
   -------------------------------------------------------------------- */
#users-page .tab-content { 
    margin: 15px; 
}

#users-page .nav { 
    margin: 15px; 
}

#users-page .nav li { 
    cursor: pointer; 
}

#users-page .secretary-row,
#users-page .provider-row,
#users-page .admin-row { 
    padding: 10px 7px; 
    border-radius: 3px; 
}

#users-page .secretary-row:hover,
#users-page .provider-row:hover,
#users-page .admin-row:hover { 
    cursor: pointer; 
    background-color: #C6E7D5; 
}

#users-page .selected-row { 
    background-color: #EFFDF7; 
}

#users-page .details input, 
#users-page .details select, 
#users-page .details textarea { 
    background-color: white; 
    cursor: pointer; 
}

#users-page #secretary-notifications.active,
#users-page #provider-notifications.active,
#users-page #admin-notifications.active {
    background: #FFFF91;
}

#users-page #secretary-providers,
#users-page #provider-services { 
    border: 2px solid #ccc; 
    width: 320px; 
    height: 140px; 
    overflow-y: scroll; 
    padding: 7px;
}

#users-page #providers .switch-view {
    overflow: auto;
    margin-bottom: 5px;
}

#users-page #providers .switch-view div {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    color: #333;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

#users-page #providers .switch-view div:hover:not(.current) {
    background: #F5F5F5;
}

#users-page #providers .switch-view .current {
    color: #FFF;
background: #95E4A8;
}

#users-page #providers .details-view,
#users-page #providers .working-plan-view {
    clear: both;
}

#users-page .btn-toolbar {
    margin-top: 0;
    margin-bottom: 15px;
}

#users-page #providers .form-message {
    clear: both;
}

#users-page #providers #breaks .btn {
margin-right: 5px;
padding: 4px 7px;
}

/* BACKEND SETTINGS PAGE
   -------------------------------------------------------------------- */
#settings-page .tab-content {
    margin: 15px;
}

#settings-page .nav {
    margin: 15px;
}

#settings-page .nav li { 
    cursor: pointer; 
}

#business-logic .working-plan td input[type="text"] {
    margin-bottom: 0;
    cursor: pointer;
}

#business-logic .working-plan label.checkbox {
    margin-top: 5px;
    margin-bottom: 0;
}

#business-logic #breaks .btn {
    margin-right: 5px;
    padding: 4px 7px;
}

#business-logic #breaks input {
    margin-bottom: 0;
}

#business-logic #breaks .editable form {
    margin: 0;
}

#business-logic #breaks .editable select,
#business-logic #breaks .editable input {
    margin: 0;
    cursor: pointer;
}

#business-logic #book-advance-timeout { 
    margin: 0;
}

#business-logic .ui-spinner { 
    border: none;
}