transition-all()
  -webkit-transition all 0.5s
  -moz-transition all 0.5s
  transition all 0.5s

.transition-all
  transition-all()

background-cover()
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  -o-background-size cover

.background-cover
  background-cover()

serif()
  font-family 'Lora', 'Times New Roman', serif

.serif
  serif()

sans-serif()
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

.sans-serif
  sans-serif()
