
brand-primary = rgb(0, 133, 161, 1)
gray-dark = lighten(rgb(0, 0, 0, 1), 25%)
gray = lighten(rgb(0, 0, 0, 1), 50%)
white-faded = rgba(255, 255, 255, .8)
gray-light = rgb(238, 238, 238, 1)
color-border = #ddd
color-meta = #999

font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-serif = "Georgia", serif
